body,html,p,a{
     margin:0;
     padding: 0;
    font-size:25px;
 }
.box {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 30px;
    padding: 5px;
}
.box div{
    flex: 1 1 auto;

    margin: 5px;
}
#side_left{
    flex: 1;
}
#main_body{
    flex: 3;
}
#side_right{
    flex: 1;
}
.header{
    font-size: 50px;
}
.main_info{
    display: flex;
}
#main_info_text{

}
.dop_info{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#dop_info_picture{
    flex: 1;
    margin: 0 auto;
}
#dop_info_text{
    flex: 2;
}
.dob_info{
    display: flex;
}
#dob_info_text{
    flex: 4;
}
#dob_info_picture{
    flex: 1;
}
.reactor{
    display: flex;
}
#reac{
    flex: 1;
    margin: 0 auto;
}
#dddd{
  display: flex;
}
#nem{
    margin: 0 auto;
}
.side_left_menu{
    display: flex;
    border: 1px solid lightblue;
    position: fixed;
    padding: 10px;
    background: #f6f6f6;
}
a {
    color: #000 !important;
    text-decoration: none;
}
@media only screen and (max-width:1750px) {
    .side_left_menu{
        position: relative;
    }
}
#mendeleev{
    display: flex;
}
#em{
    margin: 0 auto;
}
